@import './color';

.header {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 1.25rem;
    display: grid;

    .nav-logo {
        img {
            transition-duration: 200ms;
        }

        img:hover {
            --tw-scale-x: 1.25;
            --tw-scale-y: 1.25;
            transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        }
    }

    .nav-bar {
        padding: 3px;
        margin: 8px;
        background-color: $bg_default;
        border-radius: 9999px;

        a {
            color: inherit;
            text-decoration: inherit;
            display: revert;

            div {
                padding-left: 1rem;
                padding-right: 1rem;
                color: #d1d5db;
                font-weight: 500;
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
                border-radius: 1rem;
                cursor: pointer;
                display: flex;
                transition: 0.3s linear;
                font-size: 12px;
                letter-spacing: 0px;
            }

            div:hover {
                color: $purple;
                background-color: $bg_hover;
            }

            div.actived {
                color: white;
                background-color: $bg_hover;
                border: 1px solid gray;
            }
        }

        a.collapse {
            display: none;
        }

        button {
            display: none;
        }
    }

    .nav-toolbar {
        padding: 3px;

        .select-network {

            img {
                transition: 0.3s linear;
            }

            img:hover {
                --tw-scale-x: 0.9;
                --tw-scale-y: 0.9;
                transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            }

        }

        .btn-connect {
            color: #d1d5db;
            transition: 0.3s linear;
            font-size: 12px;
        }

        .btn-connect:hover {
            color: $purple;
        }
    }
}
@media (max-width: 1260px) {
    .header {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        .header-router {
            position: fixed;
            bottom: 10px;

            .nav-bar {
                flex-direction: column;
                border-radius: 0;
                border: 1px solid $purple;
                position: relative;
                min-height: 140px;
                padding: 0;

                a {
                    div {
                        width: 200px;
                        display: flex;
                        justify-content: center;
                    }
                }

                button {
                    display: flex!important;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    right: -30px;
                    top: -1px;
                    border: 1px solid #9c6eff;
                    background-color: #9c6eff;
                }
            }
        }
    }
}